.cover__link{
  margin: 0;
  position: absolute;
  display: block;
  max-width: 560px;
  max-height: 250px;
  z-index: 1;
  color: #fff;
  padding: calc((63% - 250px) / 2) calc(50% - (560px / 2));
  text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover__link{
    max-width: 288px;
  }
}
