.place__title{
  margin: 0;
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 800;
  white-space: pre;
}

@media screen and (min-width: 424px) and (max-width: 768px) {
  .place__title{
    margin: 0;
    font-size: 2.625rem;
    line-height: 2.875rem;
    font-weight: 800;
    white-space: normal;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .place__title{
    font-size: 2rem;
    line-height: 2.188rem;
    padding-left: 17px;
    white-space: normal;
  }
}
