.lead__title{
  outline: 1px solid #fff;
  box-sizing: border-box;
  margin: 0 auto;
  font-weight: 800;
  font-size: 6rem;
  line-height: 6.25rem;
  max-width: 720px;
}

@media screen and (min-width: 426px) and (max-width: 767px) {
  .lead__title{
    font-size: max(2.5rem, min(10vw, 6rem));
    line-height: max(2.75rem, min(10vw, 6.25rem));
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead__title{
    max-width: 288px;
    font-size: 2.5rem;
    line-height: 2.75rem;
  }
}
