.intro{
  box-sizing: border-box;
  max-width: 984px;
  width: 100%;
  margin: 94px auto 0;
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .intro{
    margin-top: 94px;
    padding-left: 26px;
  }
}


@media screen and (min-width: 320px) and (max-width: 425px) {
  .intro{
    margin-top: 68px;
    padding-left: 16px;
  }
}


