.lead__subtitle{
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 32px auto 0;
  max-width: 640px;
}


@media screen and (min-width: 426px) and (max-width: 767px) {
  .lead__subtitle{
    font-size: max(1rem, min(10vw, 1.875rem));
    line-height: max(1.25rem, min(10vw, 2.25rem));
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .lead__subtitle{
    max-width: 288px;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0 24px;
    margin: 16px auto 0;
  }
}

