.cover__overlay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  max-width: 560px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover__overlay{
    max-width: 288px;
  }
}
