.lead__caption{
  text-align: left;
  font-size: 0.625rem;
  line-height: 0.75rem;
  letter-spacing: 0.094rem;
  text-transform: uppercase;
}


@media screen and (max-width: 768px) {
  .lead__caption{
    padding-left: 24px;
  }
}

@media screen and (max-width: 425px) {
  .lead__caption{
    padding-left: 16px;
  }
}
