.cover__title{
  font-size: 4.5rem;
  line-height: 4.75rem;
  font-weight: 800;
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .cover__title{
    font-size: 2rem;
    line-height: 2.188rem;
  }
}
