.header__lang-links{
  outline: 1px solid red;
  display: flex;
  font-size: 1.5rem;
  column-gap: 18px;
  padding-bottom: 4px;
}

@media screen and (max-width: 375px) {
  .header__lang-links{
    font-size: 1.125rem;
  }
}

